* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

input, button, textarea {
  font-family: inherit;
}

ul li {
  list-style: none;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  max-height: 70px;
  width: 100%;
  background-color: #20be67;
  padding: 15px 15px;
  margin-bottom: 34px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.header_title {
  font-size: 30px;
  color: #fff;
}

.header_search form {
  position: relative;
}

.header_search input {
  height: 40px;
  width: 463px;
  border-radius: 20px;
  padding: 0 20px;
}

.header_search input::placeholder {
  color: #d1d3d1;
  padding-left: 20px;
}

.header_search form::after {
  position: absolute;
  display: block;
  content: "";
  background: url('/img/search_icon.png') no-repeat;width:24px;height:24px;
  top: 10px;
  right: 10px;
}

.header_user {
  width: 200px;
  position: relative;
  background: none;
}

.header_user::after {
  position: absolute;
  display: block;
  content: "";
  background: url('/img/arrow.png') no-repeat;width:24px;height:24px;
  top: 17px;
  right: 0;
}

.header_user-inner {
  display: flex;
  align-items: center;
}

.haeder_user-foto {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  flex-shrink: 0;
}

.foto {
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  /* position: relative; */
}

img {
  max-width: 100%;
  height: 100%;

  /* position: absolute; */
  /* top: 0;
  left: 0; */
  object-fit: cover;  
} 

.header_user-name {
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

.content__inner {
  display: flex;
}

.content__main {
  flex-basis: 75%;
  border-right: 1px solid #dee0df;
}

.news-title {
  font-size: 24px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 0 24px 0;
}

.content__sidebar {
  flex-basis: 25%;
}

.subscriber {
  display: flex;
  width: 700px;
  border: 1px solid #dee0df;
  border-right: none;
  border-left: none;
  border-bottom: none;
  padding: 30px 1px 20px 1px; 
  margin: 0 20px 0 0 ;
}

.subscriber__info {
  width: 100%;
  margin: 0 0 0 10px;
}

.subscriber__name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 10px 0;
}

.subscriber__foto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.subscriber-second {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.subscriber-second__foto {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  overflow: hidden;
  margin: 0 10px 0 0;
}

.change-time {
  color: #d9dcda;
}

span {
  margin: 0 5px 0 5px;
  color: #b8bcb9;
}

.flash span {
  color: #919893;
}

strong {
  color: #929995;
}

.vk-links {
  display: flex;
  align-items: baseline;
  margin: 0 0 8px 0;
}

.vk-link {
  text-decoration: none;
  color: #878f8a;
  font-size: 14px;
  left: 18px;
}
.btn {
  padding: 10px;
  background: #f7f7f7;
  border-radius: 2px;
  margin: 0 9px 0 0;
}

.voting {
  display: flex;
  justify-content: space-between;
}

.voting__btn {
  background: none;
  margin: 0 30px 0 0;
  color: #bec2bf;
}

.voting__btn.active {
  color: #20be67;
}

.procent-reaction {
  display: flex;
}

.procent {
  width: 42px;
  height: 19px;
  background-color: #e74c3c;
  border-radius: 2px;
  color:#fff;
  text-align: center;
  padding: 5px;
  font-size: 12px;
  line-height: 14px;
}

.arrow__img {
  margin: 5px 7px 5px 7px;

}

.content__sidebar {
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
}

.side-title {
  margin: 0 0 20px 0;
}

.subscribers-list {
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;
}

.user-foto {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

.side-title strong {
  font-size: 18px;
  line-height: 25px;
}

.commentator {
  display: flex;
  justify-content: space-between;
  border: 1px solid #d4d4d4;
  width: 100%;
  padding: 10px 10px 15px 10px;
}

.commentator__foto {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

.commentator__name {
  color: #bec2bf;
  margin: 0 0 10px 0;
  line-height: 1.2;
}

.comment {
  margin: 0 0 15px 0;
}

.coment-wrap {
  display: flex;
}

.big-foto {
  width: 80px;
  height: 80px;
  background:#20be67;
  border-radius: 0;
}

.huge-foto {
 border-radius: 0;
 margin: 0 0 15px 0;
}

.flash {
  display: flex;
  text-align: center;
}

.counter {
  width: 36px;
  height: 30px;
  background-color: #dee0df;
}

.event, .counter {
  padding: 10px 0;
}
.event{
  width: 50px;
  height: 30px;
  background-color: #f7f7f7;
}

.anonym {
  background-color: #20be67;
  /* position: relative; 
} */

/* .anonym img {
  position: absolute; 
  top: 18px;
  left: 38%; 
} */
}

.footer{
  margin-top: auto;
  border-top: 1px solid #dee0df;
  padding: 31px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer p {
  margin: 0 0 12px 0;
}